name = "arni-webhook"
main = "worker.js"
compatibility_date = "2024-12-30"

kv_namespaces = [
  { binding = "MEMORY", id = "0b07688ee5a24c718688f9a6a2889068" }
]

[triggers]
crons = ["0 * * * *"]

[vars]
ENVIRONMENT = "production"
